<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="//dl.mljia.cn/mljia/logo/favicon.ico" type="image/x-icon">
  <title>[[test]]</title>
<link href="/static/css/src/shop-main.0b74fabd67c4833d6ae8e0d3d6d892f3.css" rel="stylesheet"></head>
<body>
  成功~----
  <div id="app"></div>
    
<script type="text/javascript" src="/static/js/manifest.48d1852f3b40be17136a.js"></script><script type="text/javascript" src="/static/js/vendor.f2725e1cc8e26d2c7e34.js"></script><script type="text/javascript" src="/static/js/src/shop-main.e7628a71519dc4739684.js"></script></body>
</html>
